<div class="sidebarBlock">
        <h5 class="sidebarBlock-heading">{{lang 'category.shop_by_category'}}</h5>
        <ul class="navList">
            {{#each categories}}
            <li class="navList-item">
                <a class="navList-action {{#if is_active }} is-active {{/if}}" href="{{url}}" alt="{{name}}" title="{{name}}">{{concat name " ("}}{{concat count ") "}}</a>
            </li>
            
            {{/each}}
        </ul>
    </div>

