<nav>
    {{#if category.subcategories}}
        <div class="sidebarBlock">
            <h5 class="sidebarBlock-heading">{{category.name}}</h5>
            <ul class="navList">
                {{#each category.subcategories}}
                <li class="navList-item">
                    <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                    
                </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}    

    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
        
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
        {{> components/category/shop-by-category}}
    {{/if}}
</nav>
